<div ng-controller="registrationCtrl">
    <form>
        <div class="container-fluid">
            <h1>Register</h1>
            <br/>
            <div class="row form-group">
                <label for="input-username" class="col-md-2 input-margin">
                    Username:
                </label>
                <div class="col-md-4">
                    <input id="input-username"class="form-control" type="text" ng-model="user.username" placeholder="Jane Doe"/>
                </div>
            </div>
            <div class="row form-group">
                <label for="input-email" class="col-md-2 input-margin">
                    Email:
                </label>
                <div class="col-md-4">
                    <input id="input-email" class="form-control" type="email" ng-model="user.email" placeholder="jane@email.com"/>
                </div>
            </div>
            <div class="row form-group">
                <label for="input-password" class="col-md-2 input-margin">
                    Password:
                </label>
                <div class="col-md-4">
                    <input id="input-password" class="form-control" type="password" ng-model="user.password"/>
                </div>
            </div>
            <div class="row form-group">
                <label for="input-password-repeat" class="col-md-2 input-margin">
                    Repeat Password:
                </label>
                <div class="col-md-4">
                    <input id="input-password-repeat"class="form-control" type="user.password" ng-model="passwordCheck"/>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="register()">Register</button>
            <br />
        </div>
    </form>
</div>