<div ng-controller="registrationCtrl">
    <form class="ngform" name="register">
        <div class="container-fluid">
            <h1>Register</h1>
            <br/>

            <div class="row form-group">
                <label for="input-username" class="col-md-2 input-margin">
                    Username:
                </label>
                <div class="col-md-4">
                    <input id="input-username"
                           name="uName"
                           class="form-control"
                           type="text"
                           ng-model="user.username"
                           placeholder="Jane Doe"
                           mdorequired
                           ng-minlength="3"
                           ng-maxlength="40"/>

                    <ul ng-messages="register.uName.$error" class="val-box-message">
                        <li ng-messages-include="app/view/registration/messages/usernameMessages.html"></li>
                    </ul>
                </div>
                <div class="col-md-1 glyphicon glyphicon-ok val-glyph" ng-if="register.uName.$valid && register.uName.$dirty"></div>
            </div>

            <div class="row form-group">
                <label for="input-email" class="col-md-2 input-margin">
                    Email:
                </label>
                <div class="col-md-4">
                    <input id="input-email"
                           name="uEmail"
                           class="form-control"
                           ng-model="user.email"
                           placeholder="email@host.com"
                           mdorequired
                           email/>
                    <ul ng-messages="register.uEmail.$error" class="val-box-message">
                        <li ng-messages-include="app/view/registration/messages/emailMessages.html"></li>
                    </ul>
                </div>
                <div class="col-md-1 glyphicon glyphicon-ok val-glyph" ng-if="register.uEmail.$valid && register.uEmail.$dirty"></div>
            </div>

            <div class="row form-group">
                <label for="input-password" class="col-md-2 input-margin">
                    Password:
                </label>
                <div class="col-md-4">
                    <input id="input-password"
                           name="uPass"
                           class="form-control"
                           type="password"
                           ng-model="user.password"
                           mdorequired
                           ng-minlength="8"
                           ng-maxlength="50"/>
                    <ul ng-messages="register.uPass.$error" class="val-box-message">
                        <li ng-messages-include="app/view/registration/messages/passwordMessages.html"></li>
                    </ul>
                </div>
                <div class="col-md-1 glyphicon glyphicon-ok val-glyph" ng-if="register.uPass.$valid && register.uPass.$dirty"></div>
            </div>

            <div class="row form-group">
                <label for="input-password-repeat" class="col-md-2 input-margin">
                    Repeat Password:
                </label>
                <div class="col-md-4">
                    <input id="input-password-repeat"
                           name="uPassRepeat"
                           class="form-control"
                           type="password"
                           ng-model="user.passwordCheck"
                           pass-repeat="user.password"/>
                    <ul ng-messages="register.uEmail.$error" class="val-box-message">
                        <li ng-messages-include="app/view/registration/messages/repeatMessages.html"></li>
                    </ul>
                </div>
                <div class="col-md-1 glyphicon glyphicon-ok val-glyph" ng-if="register.uPassRepeat.$valid && register.uPassRepeat.$dirty"></div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="register()">Register</button>
            <br />
        </div>
    </form>
</div>