body {
  color: #191919;
  background-color: #dcdcdc;
  background: url("img/mdo-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px; }

@media (max-width: 768px) {
  body {
    padding-top: 90px; } }

.navbar-brand > img {
  max-height: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.navbar-input {
  width: 140px;
  margin-left: 10px; }

.mdo-footer {
  color: #dcdcdc; }

.mdo-content {
  background-color: rgba(82, 131, 152, 0.89); }

.input-margin {
  margin-top: 7px; }

.nav-text-centered {
  color: #9d9d9d;
  padding: 15px; }

.nav-username {
  color: mediumturquoise; }

.valid {
  border: 3px solid #00a30d;
  /*border: 3px solid transparent;
    border-radius: 4px;
    -moz-border-image: -moz-linear-gradient(top left, #4bc700 0%, #006f06 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #4bc700 0%, #006f06 100%);
     border-image: radial-gradient(ellipse at center, rgba(100,165,23,1) 0%, rgba(80,225,82,0.66) 73%, rgba(145,232,66,0.54) 97%, rgba(145,232,66,0.53) 100%);
    border-image: linear-gradient(to bottom right, #4bc700 0%, #006f06 100%);
    border-image-slice: 1;*/ }

.invalid {
  /*border: 3px solid transparent;
    border-radius: inherit;
    -moz-border-image: -moz-linear-gradient(top left, #cc4501 0%, #ba0000 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #cc4501 0%, #ba0000 100%);
    border-image: linear-gradient(to bottom right, #cc4501 0%, #ba0000 100%);
    border-image-slice: 1;*/
  border: 3px solid #ba0000; }

.val-box-message {
  margin-top: 5px;
  padding-left: 25px;
  background: rgba(200, 50, 50, 0.5);
  border-radius: 5px; }

.val-msg {
  color: #831111;
  font-weight: bold; }

.val-glyph {
  color: #00c30d;
  font-size: xx-large;
  padding-left: 0; }

