$secondary-color: #dcdcdc;
$primary-color: #191919;

html { overflow-y: scroll; }

body {
    color: $primary-color;
    background-color: $secondary-color;
    background: url('img/mdo-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 60px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.mdo-content {
        background-color: rgba(82, 131, 152, 0.87);
        margin: 0 auto;
    }

@media (min-width: 1280px) {

    .mdo-content {
        width: 1200px;
        padding: 5px 30px;
    }
}

@media (max-width: 1280px) {

    .mdo-content {
        width: 1000px;
        padding: 5px 30px;
    }
}

@media (max-width: 1024px) {

    .mdo-content {
        width: 750px;
        padding: 5px 30px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 90px;
    }

    .mdo-content {
        width: 500px;
        padding: 5px 10px;
    }
}

@media (max-width: 384px) {

    .mdo-content {
        width: 270px;
        padding: 5px 5px;
    }
}

.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.navbar-input {
    width: 140px;
    margin-left: 10px;
}

.fluid-content {
    padding-bottom: 60px;
}

.mdo-footer {
    color: $secondary-color;
}


.input-margin {
    margin-top: 7px;
}

.nav-text-centered {
    color: rgb(157, 157,157);
    padding: 15px;
}

.nav-username {
    color: mediumturquoise;
}

.valid {
    border: 3px solid #00a30d;
}

.invalid {
    border: 3px solid #ba0000;
}

.reg-box-message {
    margin-top: 5px;
    padding-left: 25px;
    background: rgba(200, 50, 50, .5);
    border-radius: 5px;
}

.reg-msg {
    color: #831111;
    font-weight: bold;
}

.reg-glyph {
    color: #00c30d;
    font-size: xx-large;
    padding-left: 0;
}

.reg-dirty {
    margin-left: 15px;
    font-size: medium;
}

.reg-submit {
    margin-bottom: 20px;
}

.admin-card-row {
    border-bottom: 2px solid rgba(16, 207, 226, 0.60);
    margin-bottom: 3px;
}

.card-inline{
    overflow: auto; 
    width: 96%;
    margin: 0 auto;
}

.card-box {
    margin: 5px 5px;
    display:inline-block;
    width:200px;
}