<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" ui-sref="main">
            <img class="img-responsive" alt="Brand" ng-src="app/content/img/logo.png">
        </a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-show="shared.loggedIn" ui-sref-active="active"><a ui-sref="user">Profile</a></li>
                <li ui-sref-active="active"><a ui-sref="decks">Decks</a></li>
                <li ui-sref-active="active"><a ui-sref="creator">Deck Creator</a></li>
                <li ui-sref-active="active"><a ui-sref="cards">Card Base</a></li>
            </ul>
            <form ng-show="!shared.loggedIn">
                <ul class="nav navbar-nav navbar-right">
                    <li><input class="form-control navbar-form navbar-input" type="text" placeholder="login / email" ng-model="username"/></li>
                    <li><span> </span></li>
                    <li><input class="form-control navbar-form navbar-input" type="password" placeholder="password" ng-model="password"/></li>
                    <li><a href="#" ng-click="login()">Login</a></li>
                    <li><a href="#" ui-sref="userRegistration">Register</a></li>
                </ul>
            </form>
            <ul ng-show="shared.loggedIn" class="nav navbar-nav navbar-right">
                <li class="nav-text-centered">Loged in as: <span class="nav-username">{{shared.username}}</span></li>
            </ul>
        </div>
    </div>
</div>